<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <%= if title = @conn.assigns[:page_title] do  %>
    <title> <%= title %> </title>
    <% else %>
    <title> Inspiro </title>
    <% end %>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    
  </head>

  <body data-js-view-name="<%= js_view_name(@conn) %>">

    <meta name="csrf" content="<%= Plug.CSRFProtection.get_csrf_token() %>">
    <%= if Guardian.Plug.current_token(@conn) do %>
      <meta name='guardian_token' content="<%= Guardian.Plug.current_token(@conn) %>">
    <%end%>

    <div class="page">
      <div class="page-main">
        <%= if Guardian.Plug.current_resource(@conn) do %>
          <div class="header py-4">
            <%= render Elixir.AppWeb.LayoutView, "header.html", assigns %>
          </div>
        <% end %>
        
        <main role="test">
            <%= if error = get_flash(@conn, :error) do %>
              <div class="alert alert-danger" role="alert">
            <% else %>
              <div class="alert alert-danger" role="alert" style="display: none;">
            <% end %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <i class="fa fa-times"></i>
                </button>
                <div class="">
                  <%= error %>
                </div>
              </div>

            <%= if warning = get_flash(@conn, :warning) do %>
              <div class="alert alert-warning" role="alert">
            <% else %>
              <div class="alert alert-warning" role="alert" style="display: none;">
            <% end %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <i class="fa fa-times"></i>
                </button>
                <div class="">
                  <%= warning %>
                </div>
              </div>
            <%= if info = get_flash(@conn, :info) do %>
              <div class="alert alert-info" role="alert">
            <% else %>
              <div class="alert alert-info" role="alert" style="display: none;">
            <% end %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <i class="fa fa-times"></i>
                </button>
                <div class="">
                  <%= info %>
                </div>
              </div>

            <%= if success = get_flash(@conn, :success) do %>
              <div class="alert alert-success" role="alert">
            <% else %>
              <div class="alert alert-success" role="alert" style="display: none;">
            <% end %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <i class="fa fa-times"></i>
                </button>
                <div class="">
                  <%= success %>
                </div>
              </div>
        </main>
        <%= render @view_module, @view_template, assigns %>
      </div>

      <%= if Guardian.Plug.current_resource(@conn) do %>
        <footer class="footer">
          <%= render Elixir.AppWeb.LayoutView,  "footer.html", assigns %>
        </footer>
      <% end %>      
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
