<h2>Show Payment</h2>

<ul>

  <li>
    <strong>Request date:</strong>
    <%= @payment.request_date %>
  </li>

  <li>
    <strong>Paid:</strong>
    <%= @payment.paid %>
  </li>

  <li>
    <strong>Value:</strong>
    <%= @payment.value %>
  </li>

</ul>

<span><%= link "Edit", to: payment_path(@conn, :edit, @payment) %></span>
<span><%= link "Back", to: payment_path(@conn, :index) %></span>
