<h2>Edit Voucher</h2>

<%= render "form.html", Map.put(assigns, :action, contract_voucher_path(@conn, :update, @contract, @voucher)) %>

<span><%= link "Back", to: contract_voucher_path(@conn, :index, @contract) %></span>
