<div class="container">
  <div class="page-header">
    <h1 class="page-title">
New Voucher
    </h1>
  </div>



<div class="row">
<%= render "form.html", changeset: @changeset, conn: @conn, action: contract_voucher_path(@conn, :create, @contract) %>

<span><%= link "Back", to: contract_voucher_path(@conn, :index, @contract) %></span>
</div>
</div>
