<h2>New Voucher</h2>


<%= render "list_price_rules.html", changeset: @changeset , conn: @conn %>
<%= render "form.html", changeset: @changeset, action: contract_voucher_path(@conn, :create, @contract) %>

<span><%= link "Back", to: contract_voucher_path(@conn, :index, @contract) %></span>
