<h2>Show Voucher</h2>

<ul>

  <li>
    <strong>Code:</strong>
    <%= @voucher.code %>
  </li>

</ul>

<span><%= link "Edit", to: voucher_path(@conn, :edit, @voucher) %></span>
<span><%= link "Back", to: voucher_path(@conn, :index) %></span>
