<h2>Show Link</h2>

<ul>

  <li>
    <strong>Url:</strong>
    <%= @link.url %>
  </li>

  <li>
    <strong>Shortcode:</strong>
    <%= @link.shortcode %>
  </li>

</ul>

<span><%= link "Edit", to: link_path(@conn, :edit, @link) %></span>
<span><%= link "Back", to: link_path(@conn, :index) %></span>
