<h2>Show Influencer</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @influencer.name %>
  </li>

  <li>
    <strong>Address:</strong>
    <%= @influencer.address %>
  </li>

  <li>
    <strong>Nib:</strong>
    <%= @influencer.nib %>
  </li>

</ul>

<span><%= link "Edit", to: influencer_path(@conn, :edit, @influencer) %></span>
<span><%= link "Back", to: influencer_path(@conn, :index) %></span>
