.login-header{
    position: relative;
    top: 50px;
}

.dropdown-menu{
    top: 10px!important;
}

.dropdown-item{
    text-align: right!important;
}

.flag{
    margin: 0 0 0 10px!important;
}

.dropdown{
    vertical-align: middle!important;
    display: flex!important;
}

.nav-link{
    span{
        
    }
}