.login-header{
    position: relative;
    top: 50px;
}

.dropdown-item{
    text-align: right!important;
}

.flag{
    margin: 0 0 0 10px!important;
}

.dropdown{
    vertical-align: middle!important;
    display: flex!important;
}

.login-page{
    height: 90vh!important;
}

.header-brand{
    height: 2rem;
	line-height: 2rem;
	vertical-align: bottom;
	padding-left: 25px;
	width: auto;
}