.form-group{
  font-weight: bold;

  .payment-type-money{
    background:#e3f1ff;
    color: #376ee7;
   
  }
  
  .payment-type-voucher{
    background: #fff0bb;
    color: #ffb516;
  }
  
  .payment-type-products{
    background: #ffdfdf;
    color: #ff6262; 
  }

  .selectgroup-button{
    border-radius: 5px;
    box-sizing: border-box;
  }

  .selectgroup-input:checked{
    +.payment-type-money{
      background:#e3f1ff;
      color: #376ee7;
      border: solid 1px #376ee7;
    }
    +.payment-type-voucher{
      background: #fff0bb;
      color: #ffb516;
      border: solid 1px #ffb516;
    }
    +.payment-type-products{
      background: #ffdfdf;
      color: #ff6262; 
      border: solid 1px #ff6262;
    }
  }

  .selectgroup-item{
    padding: 0 10px;
  }

}

.board-title{
  text-align: center;
  background: #f5f6fa;
}